@model patyy.Models.Envio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Envio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEnvios" />
            <div class="form-group">
                <label asp-for="DireccionEnvio" class="control-label"></label>
                <input asp-for="DireccionEnvio" class="form-control" />
                <span asp-validation-for="DireccionEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEnvio" class="control-label"></label>
                <input asp-for="FechaEnvio" class="form-control" />
                <span asp-validation-for="FechaEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntregaEstimada" class="control-label"></label>
                <input asp-for="FechaEntregaEstimada" class="form-control" />
                <span asp-validation-for="FechaEntregaEstimada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoEnvio" class="control-label"></label>
                <input asp-for="EstadoEnvio" class="form-control" />
                <span asp-validation-for="EstadoEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaEnvio" class="control-label"></label>
                <input asp-for="EmpresaEnvio" class="form-control" />
                <span asp-validation-for="EmpresaEnvio" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PedidosIdPedido" />
            <input type="hidden" asp-for="PedidosProductosIdProducto" />
            <input type="hidden" asp-for="PedidosClienteIdCliente" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
